.criminal_record_main{
    margin-left: 4rem;
    margin-top: 3rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}
.criminal_record_div{
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 10px;
}
.criminal_record_main_div{
    background-color: #F4DCDC;
    /* max-width: fit-content; */
    padding: 5px 10px 5px 10px;
}
.report_summary_div{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px;
}
.tr_main_div{
    border-bottom: 1px solid grey;

}
.tr_div{
    font-size: 1.4rem;
    font-weight: 600;

}
.last_tr_div{
    font-size: 1.4rem;
    font-weight: 600;
}
.idCardWithImage_main{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

}
.SubmittedFIle_text{
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 1rem;
}
.image_Div{
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    max-width: 70%;
    margin-bottom: 1rem;
}
.idCardImage{
    width: 100%;
}